@import url(fonts.css);

* {
    margin: 0px;
    padding: 0px;
    cursor: url(../assets/cursor/mouse_cursor.png), default !important;
    -webkit-user-select: none;
    user-select: none;
}

html {
    height: 100%;
    overflow: overlay;
    width: 100%;
}

body {
    width: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: SPOTNIK;
    font-size: 32px;
}

@media (prefers-color-scheme: light) {

    body {
        color: #3b3b3b !important;
        background-color: #ffffff !important;
    }
}

@media (prefers-color-scheme: dark) {

    body {
        color: #ffffff !important;
        background-color: #3b3b3b !important;
    }
}